force-app/main/default/flows/Job_Application_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Id_to_Local_Var</name>
        <label>Assign Contact Id to Local Var</label>
        <locationX>330</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Candidate_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Contact_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Jobs_Applied_By_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Uploaded_File_Count</name>
        <label>Assign Uploaded File Count</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ResumeFileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContentDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resume_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CDL_Record_Assignment</name>
        <label>CDL Record Assignment</label>
        <locationX>440</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>CDLRecordVariable.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Uploaded_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecordVariable.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Job_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uploaded_Files</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Applied_for_this_Job</name>
        <label>Already Applied for this Job ?</label>
        <locationX>330</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Candidate_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Applied</defaultConnectorLabel>
        <rules>
            <name>Yes_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jobs_Applied_By_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applied_Message_Screen</targetReference>
            </connector>
            <label>Yes Applied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_Exist_as_Contact</name>
        <label>Candidate Exist as Contact ?</label>
        <locationX>352</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_as_Job_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Existing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Job_Application</targetReference>
            </connector>
            <label>Existing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Applicant</name>
        <label>New Applicant ?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Id_to_Local_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old Applicant</defaultConnectorLabel>
        <rules>
            <name>NewApplicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Contact_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Information</targetReference>
            </connector>
            <label>New Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resume_Uploaded</name>
        <label>Resume Uploaded ?</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Candidate_Exist_as_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Uploaded</defaultConnectorLabel>
        <rules>
            <name>Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Candidate_Information</targetReference>
            </connector>
            <label>Not Uploaded</label>
        </rules>
    </decisions>
    <description>Added File Upload Feature</description>
    <dynamicChoiceSets>
        <name>ContactType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Job_Application_Name</name>
        <dataType>String</dataType>
        <expression>{!Job_Id} &amp; &apos; - &apos; &amp; {!User_Email}</expression>
    </formulas>
    <interviewLabel>Job Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Application Screen</label>
    <loops>
        <name>Loop_Uploaded_Files</name>
        <label>Loop Uploaded Files</label>
        <locationX>352</locationX>
        <locationY>2006</locationY>
        <collectionReference>ContentDocumentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CDL_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDL_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDL_Record</name>
        <label>Create CDL Record</label>
        <locationX>352</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>FinalPage</targetReference>
        </connector>
        <inputReference>CDLCollectionVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_as_Job_Applicant</name>
        <label>Create Contact as Job Applicant</label>
        <locationX>440</locationX>
        <locationY>1706</locationY>
        <assignRecordIdToReference>Candidate_Contact_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Job_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CandidatePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Job Applicant</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Application</name>
        <label>Create Job Application</label>
        <locationX>352</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Loop_Uploaded_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Id__c</field>
            <value>
                <elementReference>Candidate_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Applied__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Posting__c</field>
            <value>
                <elementReference>Job_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Job_Application_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Posting_Info</name>
        <label>Get Job Posting Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Posting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This method will retrieve all the jobs that the user has applied</description>
        <name>Get_Jobs_Applied_By_User</name>
        <label>Get Jobs Applied By User</label>
        <locationX>330</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Applied_for_this_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Posting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This method will retrieve the user&apos;s ID from Contact object if exists.</description>
        <name>Get_User_Contact_Id</name>
        <label>Get User Contact Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Applied_Message_Screen</name>
        <label>Applied Message Screen</label>
        <locationX>198</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageToUser</name>
            <fieldText>&lt;p&gt;Thank you for your interest.    You have already applied for this Job Position.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_Information</name>
        <label>Candidate Information</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Uploaded_File_Count</targetReference>
        </connector>
        <fields>
            <name>CompanyName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Company :&lt;/strong&gt; {!Get_Job_Posting_Info.Company__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JobName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Job Title : &lt;/strong&gt;{!Get_Job_Posting_Info.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Candidate_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Candidate_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CandidateName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CandidatePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Daytime Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Candidate_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResumeUploadError</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;Please upload resume&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ResumeFileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CandidateResume</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Resume</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .doc, .docx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>UploadedFileNames</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContentDocumentIDs</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Files_Uploaded</name>
                    <fieldText>&lt;p&gt;{!UploadedFileNames}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalPage</name>
        <label>FinalPage</label>
        <locationX>352</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Your application has been submitted for the position of {!Get_Job_Posting_Info.Name} @ {!Get_Job_Posting_Info.Company__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Application</name>
        <label>Job Application</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>User_Email</name>
            <dataType>String</dataType>
            <fieldText>Login with Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Posting_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Candidate_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CDLCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
